@import "tailwindcss";

body {
  font-family: 'Raleway', sans-serif;
  font-feature-settings: "lnum";
}

.skewed-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top right,
    #0A1523,
    #122B46,
    #1D3A5F
  );
  transform: skewY(6deg);
  transform-origin: top right;
  z-index: -1;
}

.skewed-reversed {
  position: absolute;
  top: 225px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top right,
    #0A1523,
    #122B46,
    #1D3A5F
  );
  transform: skewY(-6deg);
  transform-origin: top left;
  z-index: -20;
}